@model Car

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Image" alt="@Model.Name">
    <h2>@Model.Name</h2>
    <p>@Model.ShortDescription</p>
    <h4>Price: @Model.Price.ToString("f2") $</h4>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-Id="@Model.Id">Add to cart</a></p>
</div>